###############################
### Alpine Docker Optimized ###
###  /etc/ssh/sshd_config   ###
###############################

Include                                 /etc/ssh/sshd_config.d/*.conf

#AuthorizedKeysCommand                  none
#AuthorizedKeysCommandUser              nobody
#AuthorizedPrincipalsFile               none
#ChallengeResponseAuthentication        yes
#ChrootDirectory                        none
#GSSAPIAuthentication                   no
#GSSAPICleanupCredentials               yes
#HostbasedAuthentication                no
#IgnoreRhosts                           yes
#IgnoreUserKnownHosts                   no
#KerberosAuthentication                 no
#KerberosGetAFSToken                    no
#KerberosOrLocalPasswd                  yes
#KerberosTicketCleanup                  yes
#MaxStartups                            10:30:100
#PasswordAuthentication                 yes
#PermitEmptyPasswords                   no
#PermitTunnel                           no
#PidFile                                /var/run/sshd.pid
#PrintMotd                              yes
#StrictModes                            yes
#UseDNS                                 no
#VersionAddendum                        none

AcceptEnv                               *,LANG LC_*
AllowAgentForwarding                    yes
AllowStreamLocalForwarding              yes
AllowTcpForwarding                      yes
AuthorizedKeysFile                      /etc/ssh/authorized_keys /etc/ssh/authorized_keys.d/*.conf
ClientAliveCountMax                     5
ClientAliveInterval                     5
FingerprintHash                         sha256
HostKey                                 /etc/ssh/ssh_host_ecdsa_key
HostKey                                 /etc/ssh/ssh_host_ed25519_key
HostKey                                 /etc/ssh/ssh_host_rsa_key
LogLevel                                INFO
LoginGraceTime                          15m

MaxAuthTries                            6
MaxSessions                             10
PasswordAuthentication 	                no
PermitEmptyPasswords                    no
PermitTTY                               yes
PermitUserEnvironment                   yes
PubkeyAuthentication                    yes
PermitTunnel                            yes
Subsystem                               sftp                /usr/libexec/sftp-server
SyslogFacility 		                    DAEMON
X11Forwarding 		                    yes